@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Julius+Sans+One&display=swap");

@font-face {
  font-family: Niladri;
  src: url("../fonts/Li\ Niladri\ Rongtuli\ Unicode.ttf") format("truetype");
}

$theme-color: #c5e1a5;
$body-color: #f8ffd7;

$heading-font: "Archivo Narrow", sans-serif;
$body-font: "Julius Sans One", sans-serif;
$bangla-font: Niladri, sans-serif;

body {
  background: $body-color;
  font-family: $body-font;
  line-height: 1.3;
  display: grid;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;

  &__item {
    padding: 10px 15px;
    background: $theme-color;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-right: 5px;
  }
}

.app {
  width: 600px;
}

.shell {
  background: $theme-color;
  border-radius: 0 7px 7px 7px;
  padding: 30px;
}

h1,
h2,
h3 {
  font-family: $bangla-font;
  font-weight: normal;
}

.en--font {
  font-weight: bold;
}
